*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    padding: 2rem;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 100vw;
    display: flex;
    align-items: center;
}
#header img {
    height: 5rem;
}

#header h1 {
    color: orangered;
    margin-left: 3rem;
}
#navbar {
    display: flex;
    background-color: orangered;
    align-items: flex-start;
}
#navbar ul {
    display: flex;
    margin-left: 2rem;
}
#navbar ul li{
    display: flex;
    padding: 1rem 0.75rem;
}
#navbar ul li a {
    text-decoration: none;
    color: white;
}
#navbar ul li:hover{
    background-color:grey ;
}



#bd-content{
    padding: 2rem 1rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    width: 60%;
}
.bd-title{
    display: flex;
}

#bd{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}
#bd img{
    height: 15rem;
    border-radius: 100%;
}

#bd-content{
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}
.bd-item{
    font-weight: 700;
    padding: 0.5rem;

}
.bd-item span{
    font-weight: 100;
}

#content-berita{
    display: flex;
    padding: 2rem 0;
    width: 40%;
    flex-direction: column;
}
.cb-item{
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem 1rem 0;
}
.cb-item a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black ;
    
}
.cb-item a img{
    height: 5rem;
    margin-right: 1rem;
}

#footer{

    display: flex;
    flex-direction: column;
    background-color: orangered;
    align-items:center;
    margin: 1rem;
    padding: 1rem;
    color: white;
}
#footer h4{
    margin: 0.25rem;
}
#footer p{
    margin: 0.25rem 0 0 0;
}